
version: "3.8"
services:
  app:
    build: .
    ports:
      - "8080:8080"
    volumes:
      - .:/app
    environment:
      - PYTHONUNBUFFERED=1
      - API_KEY= "d4o0ejhr01qk2nuecia0d4o0ejhr01qk2nueciag"
